@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

body {
  text-decoration: none;
  background-image: url('../img/job1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: rgba(50, 50, 50, 0.5);
  width: 100%;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  background-color: rgb(0, 0, 0);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: background 0.5s;
}
